
body {
  margin: 0;
  height: 100vh; 
  display: flex;
  justify-content: center; 
  align-items: center; 
  background-color: #1a1a1a4f; 
}

.caja_principal {
  background-color: black;
  padding: 20px;
  border-radius: 10px;
  width: 200px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.luz_roja{
    width: 100px;
    height: 100px;
    background-color: red;
    padding: 10px;
    border-radius:50% ;
}

.luz_amarilla{
    width: 100px;
    height: 100px;
    background-color: rgb(246, 255, 0);
    padding: 10px;
    border-radius:50% ;
}

.luz_verde{
    width: 100px;
    height: 100px;
    background-color: rgb(30, 255, 0);
    padding: 10px;
    border-radius:50% ;
}

.luz_roja.encendida {
  opacity: 1;
  box-shadow: 0 0 35px rgba(255, 0, 0, 0.8);
}


.luz_amarilla.encendida {
  opacity: 1;
  box-shadow: 0 0 35px rgba(255, 255, 0, 0.8);
}


.luz_verde.encendida {
  opacity: 1;
  box-shadow: 0 0 35px rgba(0, 255, 0, 0.8);
}


